body {
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 100px;
  padding-top: 100px;
}

h1 {
  color: #9e00f9;
  text
}

a {
  text-decoration: none;
  margin: 0 10px;
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  color: #4a90e2;
}

